# JSVM Layer Configuration File

#====================== INPUT / OUTPUT =========================================
InputFile            v1.yuv      # Input  file

SourceWidth          720           # Input  frame width
SourceHeight         1280           # Input  frame height
FramesToBeEncoded    1770
FrameRateIn          30            # Input  frame rate [Hz]
FrameRateOut         30            # Output frame rate [Hz]

IDRPeriod           60

#InterLayerPred      1              # Inter-layer Pred. (0: no, 1: yes, 2:adap.)

QP                  30             # Quantization parameters
MeQP0               30             # QP for mot. est. / mode decision (stage 0)
MeQP1               30             # QP for mot. est. / mode decision (stage 1)
MeQP2               30             # QP for mot. est. / mode decision (stage 2)
MeQP3               30             # QP for mot. est. / mode decision (stage 3)
MeQP4               30             # QP for mot. est. / mode decision (stage 4)
MeQP5               30             # QP for mot. est. / mode decision (stage 5)