# JSVM Main Configuration File for Sintel Spatial

OutputFile              v1_onlyL1.264   # Bitstream file
FrameRate               30.0       # Maximum frame rate [Hz]
FramesToBeEncoded      1770 # Number of frames 


BaseLayerMode		2

IntraPeriod            60          # Intra Period
GOPSize                 4          # GOP Size (at maximum frame rate)

SearchMode		4
SearchRange		16

FastBiSearch    1




NumLayers		1
LayerCfg		layer1.cfg
#LayerCfg		layer1.cfg
#LayerCfg		layer2.cfg